<section class="masthead" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="masthead-subheading">Ahead app</h6>
                <br />
                <h1 class="masthead-heading mb-0">Master your life</h1>
                <h1 class="masthead-heading mb-0">by mastering</h1>
                <h1 class="masthead-heading mb-0">emotions</h1>
<!-- Button from here -->
              <!-- <button class="btn4" onclick="abc()"> -->
                <div>
                  <!-- <a href="#"> -->
                    <div class="row" style="background-color: black; display: flex; height:60px; width: 200px; padding: 5px; border-radius: 10px; margin-top: 50px; margin-left: 5px" >
                        <img src="/assets/ashoka-chakra-png-46973.png" height="100%">
                        <div class="col" style="color: white">
                          <span style="font-size: smaller">
                            Download on the 
                          </span>
                          <span style="font-size:larger; margin-top: -2px;">
                            App Store
                          </span>
                        </div>
                    </div>
                <!-- </a> -->
                </div>
              <!-- </button> -->
              </div>
              <!-- Image code -->
            <div class="col-md-6">
                <img
                  src="assets/online-world.svg"
                  alt="Image of a phone"
                  style="height: 50vh"
                />
              </div>
        </div>
    </div>
</section>