<br />
<br />
<br />
<section class="page-section emotions" id="emotions">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-4"
        style="font-size: 40px; font-family: 'Manrope', sans-serif"
      >
        EQ beats IQ
      </div>
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
        officiis natus debitis minus beatae. Similique, temporibus veritatis.
        Sequi reprehenderit adipisci illum, quis reiciendis dolor obcaecati et
        nihil consequuntur, deleniti tempora!
      </div>
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos aut facere
        est soluta possimus temporibus incidunt illum, quos velit asperiores
        quasi, quo reiciendis omnis repudiandae vel odio. Necessitatibus, libero
        beatae!
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div style="margin-left: 140px">
    <h1 style="font-family: 'Manrope', sans-serif">
      Does this sound familiar...
      <i class="fa-solid fa-ghost" style="color: #e87563"></i>
    </h1>
  </div>
  <br />
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-placard
          [name]="'Sarvesh Singh Chauhan'"
          [description]="
            'SDE-I Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptatibus tenetur temporibus veniam quae quaerat.'
          "
          [colorZoya]="'#add8e6af'"
        ></app-placard>
      </div>
      <div class="col-md-3">
        <button class="card" style="background-color: #eeebfed0">
          <div class="container">
            <span style="font-size: 30px">&#128512;</span>
            <h5><b>Gaurav Jhawar</b></h5>
            <p>
              PM - Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Corrupti voluptatibus tenetur temporibus veniam quae quaerat.
            </p>
          </div>
        </button>
      </div>
      <div class="col-md-3">
        <button class="card" style="background-color: rgba(0, 0, 205, 0.388)">
          <div class="container">
            <span style="font-size: 30px">&#128518;</span>
            <h5><b>Yuvan Seth</b></h5>
            <p>
              Tech Analyst - Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Corrupti voluptatibus tenetur temporibus veniam quae quaerat
            </p>
          </div>
        </button>
      </div>
      <div class="col-md-3">
        <button
          class="card"
          style="background-color: rgba(255, 160, 122, 0.471)"
        >
          <div class="container">
            <span style="font-size: 30px">&#128513;</span>
            <h5><b>Tapish Bagdi</b></h5>
            <p>
              Nothing yet - Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Corrupti voluptatibus tenetur temporibus veniam quae quaerat
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  <hr />
</section>
